@use 'base/variables' as v;

.alerta{
    padding: calc(v.$separacion /5);
    color: v.$blanco;
    width: auto;
    display:block;
    margin: 2rem 1rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    
    &.error{
        background-color: v.$rojo;

    }
    &.exito{
        background-color: v.$verde;
    }
}